*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: gray;
}
/* .title{
  text-align: center;
  margin-top: 30px;
  color: white;
  font-size: 3rem;
} */

.container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  
}
.newHeat{
  width: 150px;
  margin: 10px 0;
  box-shadow: 3px 2px 8px rgba(0, 0, 0, .3)
}
.grid-container {
  display: grid;
  grid-template-columns:repeat(2, 1fr) ; 
  grid-template-rows: 1fr 30px;
}
.grid-item{
  background-color: blue;
  color: white;
  text-align: center;
}
.left-display{
margin-right: 10px;
}

.displayNumb{
  width: 100%;
  height: 278px;
  margin-bottom: 5px;
  font-size: 5rem;
  background-color: aliceblue;
  text-align: center;
  padding: 70px 0;  
  border-radius: 5px;
  box-shadow: 3px 2px 8px rgba(0, 0, 0, .3)
}
input{
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
  height: 60px;
  border-radius: 5px;
  border: none;
  font-weight: 600;
}
input:focus{
  outline: none;
}
.wavesTitle{
  padding-top: 10px;
}
.grid-jersey{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.colorDisplay{
  margin-top: 15px;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
}
.waveScore{
  font-size: 1rem;
  padding: 5px;
  text-align: center;
}
.score{
  font-weight: bold;
}
.surferJersey{
  font-weight: bold;
}
button{
  width: 100%;
  height: 60px;
  border-radius: 5px;
  border: none;
  background-color: rgb(104, 191, 149);
  color: whitesmoke;
  font-weight: 600;
  cursor: pointer;
  
  box-shadow: 3px 2px 8px rgba(0, 0, 0, .3)
}
.lycra{
  display: grid;
  grid-template-columns:repeat(2, 1fr);
  gap: 5px;
  width: 100%;
  margin-top: 5px;
}
.red{
  background-color: red;
}
.white{
  color: black;
  background-color: whitesmoke;
}
.yellow{
  background-color: rgb(255, 204, 0);
  color: black;
}
.blue{
  background-color: rgb(0, 72, 255);
}
.displayTotal{
  margin-bottom: 5px;
  font-size: 3rem;
  background-color: aliceblue;
  text-align: center;
  border-radius: 5px;
  min-height: 537.99px; /* min height of right panel */
  box-shadow: 3px 2px 8px rgba(0, 0, 0, .3)
}
.listwaves{

}
.active{
  border: 1.6px solid rgb(3, 3, 3);
  box-shadow: 1px 2px rgba(26, 26, 26, 0.258);
  transform: scale(0.96);
}
/* hide number arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


